@import "../font/style.css";
body {
  font-size: 18px;
  line-height: 27px;
  font-family: 'Roboto Mono', monospace;
  color: #000000;
  font-style: normal;
  transition: top 1s ease-out 0.5s;
}
img {
  max-width: 100%;
  height: auto;
}
button:active,
button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:active,
:hover,
:link,
:visited {
  color: black;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #f4fbff;
}
.displaynone {
  display: none;
}
.displayblock {
  display: block;
}
.main-header .main-header__wrapper {
  width: 1200px;
  margin: 0 auto;
  background: white;
  min-height: 70px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.main-header .main-header__wrapper .main-header__logo {
  background: #28c38a;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.05em;
  font-size: 35px;
  color: white;
  width: 260px;
  height: 40px;
  font-style: italic;
  margin-left: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.main-header .main-header__wrapper .main-header__logo a {
  color: white;
  text-shadow: 0 1px 0 #211e3c;
  /*Тень текста*/
}
.main-header .main-header__wrapper .main-header__logo p {
  padding-left: 10px;
  margin: 0;
}
.main-header .main-header__wrapper .main-nav {
  margin-left: 280px;
  margin-right: 60px;
}
.main-header .main-header__wrapper .main-nav .main-nav__items {
  list-style: none;
}
.main-header .main-header__wrapper .main-nav .main-nav__item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}
.main-header .main-header__wrapper .main-nav .main-nav__item a {
  padding: 3px 20px;
  text-decoration: none;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.main-header .main-header__wrapper .main-nav .main-nav__item a:hover {
  background: rgba(128, 128, 128, 0.1);
}
.main-header .main-header__wrapper .main-nav .active a {
  background: #28c38a;
  color: white;
  text-shadow: 0 1px 0 #211e3c;
  /*Тень текста*/
}
.main-header .main-header__wrapper .main-nav .active a:hover {
  background: #28c38a;
}
.main-header .main-header__wrapper .github {
  margin-right: 40px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.main-header .main-header__wrapper .github:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.test-wrapper {
  width: 1200px;
  margin: 0 auto;
  background: url(../img/background2.jpg) no-repeat center left / cover;
  min-height: 555px;
  border: 1px solid #f2f2f2;
  max-height: 555px;
}
.test-wrapper .main-test-block {
  padding-top: 40px;
  text-align: center;
}
.test-wrapper .main-test-block .main-test-block__title {
  margin: 0 auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  width: 700px;
  font-size: 24px;
  padding: 10px 80px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  padding-bottom: 20px;
}
.test-wrapper .main-test-block .main-test-block__title .main-test-block__title--first h1 {
  font-size: 34px;
  font-weight: normal;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 570px;
  margin: 0 auto;
  padding: 5px 0px;
  padding-bottom: 10px;
  font-weight: bold;
}
.test-wrapper .main-test-block .main-test-block__title .main-test-block__title--second {
  margin: 0;
  margin-top: 10px;
}
.test-wrapper .main-test-block .main-test-block__button {
  margin-top: 110px;
  padding: 10px 20px;
  background: #28c38a;
  border: 1px solid #f2f2f2;
  color: white;
  font-weight: bold;
  border-radius: 10px 20px 10px 20px;
  margin-bottom: 90px;
  cursor: pointer;
}
.test-wrapper .main-test-block .main-test-block__button:active {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
}
.test-counter {
  background: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  color: white;
  text-align: center;
}
.footer-wrapper {
  width: 1200px;
  margin: 0 auto;
  min-height: 70px;
  margin-top: -20px;
  background: #37383C;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.footer-wrapper .footer__logo {
  background: #f4fbff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.05em;
  font-size: 35px;
  color: white;
  width: 260px;
  height: 40px;
  font-style: italic;
  margin-left: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.footer-wrapper .footer__logo a {
  color: rgba(0, 0, 0, 0.8);
}
.footer-wrapper .footer__logo p {
  padding-left: 10px;
  margin: 0;
}
.footer-wrapper .footer-nav {
  margin-left: 150px;
}
.footer-wrapper .footer-nav ul {
  list-style: none;
}
.footer-wrapper .footer-nav ul .footer-nav__item {
  display: inline;
  text-transform: uppercase;
  font-weight: bold;
}
.footer-wrapper .footer-nav ul .footer-nav__item a {
  color: white;
  padding: 3px 20px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.footer-wrapper .footer-nav ul .footer-nav__item a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.footer-wrapper .footer-nav ul .socio-link {
  display: inline;
}
.footer-wrapper .footer-nav ul .socio-link a img {
  background: white;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #f2f2f2;
}
.tasks-transition {
  padding-left: 150px;
}
.tasks-transition ul {
  list-style: none;
  display: inline-block;
  padding-right: 1px;
}
.tasks-transition ul .task1 {
  display: inline-block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 1.8em;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: white;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.tasks-transition ul p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}
.tasks-transition ul .active {
  background: #28c38a;
  color: white;
}
.tasks-transition ul .complete {
  background: #A9A9A9;
}
.test-block {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  background: white;
  margin: 0 40px;
  font-size: 15px;
  padding: 2px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  height: 406px;
  position: relative;
}
.test-block .title-task {
  font-weight: bold;
  margin-bottom: 0;
}
.test-block .question-number {
  margin: 0;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 0;
}
.test-block .question-task .task1-answers {
  display: block;
  vertical-align: middle;
}
.test-block .question-task2 {
  margin: 0;
  margin-bottom: 5px;
}
.test-block .button {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 40px;
  background: #28c38a;
  border: 1px solid #f2f2f2;
  color: white;
  font-weight: bold;
  border-radius: 10px 20px 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  position: absolute;
  top: 360;
}
.test-block .button:active {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
}
.test-block .task6-button {
  position: absolute;
  top: -65;
  left: 470;
}
.radio {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}
.grammar-test-block {
  position: relative;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.grammar-flex {
  margin-right: 60px;
}
.displaynone {
  display: none;
}
.result-field {
  background: white;
  margin: 0 40px;
  font-size: 15px;
  padding: 2px 15px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: left;
  margin-top: 20px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}
.result-title {
  font-size: 30px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.result-points {
  font-size: 20px;
}
.result-points span {
  color: #CD5C5C;
}
.return {
  padding: 10px 40px;
  background: #28c38a;
  border: 1px solid #f2f2f2;
  color: white;
  font-weight: bold;
  border-radius: 10px 20px 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
}
.return:active {
  box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
}
